extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleabout.css

block content
    div.container  
        div.aboutpage 
            h1 About Us
            p Some Information About our Dance Academy 
        div.info 
            h3 Abhishek  Dance Academy  
            p Abhishek Dance Academy  offers  classes in some or all of these dance styles, as well as additional styles that are specific to their academy. We  also offer classes for various age groups, ranging from children to adults.In addition to regular classes, dance academies often offer workshops, intensives, and summer camps for students to further develop their skills and experience. These programs may be open to students from other academies as well.

            h3 Founders 
            p The founders of Abhishek Dance Academy may have had a strong background in dance or in teaching, or they may have been individuals who were simply passionate about the art of dance and wanted to share that passion with others. They may have had experience in managing and operating a dance studio or may have had to learn those skills on the job.Regardless of their background, the founders of Abhishek Dance Academy likely put a lot of time, effort, and resources into building and growing their business.
           
            h3 Core Team 
            p The core team of Abhishek Dance Academy may include instructors who are responsible for teaching classes and guiding students in their dance education. These instructors may have expertise in different dance styles and may be responsible for developing curricula and lesson plans for their classes.