extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleclassinfo.css

block content
    div.container 
        div.classinfo 
            h1 Class Information 
        div#classInfo  
            div.class  
            h2 Welcome To Our  Dance Academy 
            p Thank for your intereste in our Dance Academy. 
            p Dance classes at Abhishek Dance Academy may be offered for a variety of age groups, ranging from young children to adults. The classes may be organized based on skill level, with beginner, intermediate, and advanced classes available.Classes may be offered in a range of dance styles, such as ballet, hip-hop, jazz, contemporary, tap, and ballroom, and may also include specialized classes such as acrobatic dance, lyrical dance, or Bollywood dance.


        