extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleservices.css

block content 
    div.container
        div.service  
            h1 Services of Our Dance Academy
        div#box-service 
            div.box
                h3 1. Education 
                p Abhishek Dance Academy offers  educational opportunities for students who are interested in pursuing dance as a career or who want to continue their dance education beyond high school. This may include guidance on college or university dance programs, audition preparation, or professional development opportunities.
            div.box
                h3 2. Events 
                p Abhishek Dance Academy  also participate in dance competitions or festivals. These events may be held locally or nationally, and may give students the opportunity to compete against other dancers and showcase their skills to a wider audience. Participation in these events can be a valuable learning experience for students, as well as a way to gain recognition and exposure for the academy.
            div.box
                h3 3. WorkShop 
                p Abhishek Dance Academy offers  workshops in a variety of dance styles, such as ballet, hip-hop, jazz, contemporary, or Bollywood dance. These workshops may be geared towards different age groups or skill levels, and may  from beginner to advanced.Workshops may be held over the course of a few days or weeks, and may be offered on weekends or during the summer months when students have more free time. Workshops may also be organized as part of a larger dance festival or event.
            div.box
                h3 4. Articles 
                p Abhishek Dance Academy  publish articles that provide advice and guidance on other topics related to dance, such as injury prevention, nutrition, and mental health. These articles may be designed to help dancers stay healthy and motivated, both inside and outside of the studio.Overall, articles can be a valuable resource for dancers, providing them with insights and advice on how to improve their technique, deepen their understanding of dance, and stay healthy and motivated throughout their dance journey.
