@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+XiaoWei&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 68vh;
    margin: 43px 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.container h1{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 34px;

}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    font-size: 16px;
    width: 40%;
    padding: 6px;
    margin: 8px;
    border: 2px solid rgb(53, 25, 25);
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 5px 20px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: red;
    cursor: pointer;
    outline: none;
    margin: 26px;

}

